<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="components\flashcard\styles.css" />
  </head>
  <body>
    <div id="container">
      <div id="card">
        <div class="front">
          <h2>What is the marquee tag</h2>
        </div>
        <div class="back">
          <h2>
            This now deprecated HTML tag, popular in the early days of the
            internet, magically made text scroll across the screen
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
