html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.topnav {
  position: fixed;
  z-index: 1;
  background-color: aliceblue;
  width: 100%;
  top: 0;
  text-align: center;
}

.sidenav {
  height: calc(100vh - 80px);
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 80px;
}

.main {
  box-sizing: border-box;
  height: calc(100vh - 80px);
  margin-left: 160px;
  margin-top: 80px;
  background-color: beige;
}
