html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.topnav {
  position: fixed;
  z-index: 1;
  background-color: rgb(43, 43, 43);
  width: 100%;
  top: 0;
  text-align: center;
}

h1 {
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(0, 92, 128));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidenav {
  height: calc(100vh - 80px);
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(43, 43, 43);
  overflow-x: hidden;
  padding: 20px 10px;
  margin-top: 80px;
}

li,
a {
  color: rgb(89, 139, 184);
}

li,
a:visited {
  color: rgb(199, 216, 231);
}

.topnav,
.sidenav {
  font-family: "Karla", "sans-serif";
}

.main {
  box-sizing: border-box;
  height: calc(100vh - 80px);
  margin-left: 160px;
  margin-top: 80px;
  background-color: rgb(73, 81, 97);
}
