<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="components\searchBar\styles.css" />
  </head>
  <body>
    <div id="container">
      <label for="searchBar" class="hide">Search</label>
      <input
        type="search"
        id="searchBar"
        placeholder="Search..."
        aria-label="search" />
    </div>
  </body>
</html>
