<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="components\codePenTile\styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="cardContainer">
        <div class="cardThumbnail">
          <img alt="" src="components\codePenTile\img\jr-korpa-unsplash.jpg" />
        </div>
        <div class="cardBody">
          <div class="cardAvatar">
            <img
              alt=""
              src="components\codePenTile\img\daniel-park-unsplash.jpg" />
          </div>
          <div class="cardDetails">
            <h3>Abstract Gradient Project</h3>
            <p>Scrimsbee McScrimslee</p>
          </div>
        </div>
        <ul class="cardStats">
          <li>🤍 8</li>
          <li>💬 32</li>
        </ul>
      </div>
    </div>
  </body>
</html>
