html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  background-color: rgb(167, 167, 167);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card {
  background-color: white;
  border: solid 1px black;
  height: 400px;
  aspect-ratio: 2 /3;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
}

.top,
.bottom {
  font-size: 24px;
}

.bottom {
  margin-left: auto;
  transform: rotate(180deg);
}
