<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="components\githubProfile\styles.css" />
  </head>
  <body>
    <div id="container">
      <div id="profile">
        <img
          src="components\githubProfile\4c4421c7-822a-46b9-8016-7c057f326af3.avif"
          id="photo" />
        <div id="details">
          <h2 id="name">Milena K</h2>
          <h3 id="nickname">xMelaa</h3>
          <p id="description">Very ambitious but i love sleep</p>
          <button id="editButton">Edit Profile</button>
        </div>
      </div>
    </div>
  </body>
</html>
