html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  background-color: rgb(45, 40, 51);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

#profile {
  max-width: 400px;
  min-width: 250px;
  background-color: #0d1117;
  padding: 20px 40px;
  color: #c9d1d9;
}

#photo {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2e343b;
}

#details {
  margin: 15px 0;
}

#name {
  margin: 0;
}

#nickname {
  font-weight: 400;
  color: #8b949e;
  margin: 0;
}

#editButton {
  width: 100%;
  background-color: #21262d;
  color: #c9d1d9;
  border: 2px solid #373b43;
  border-radius: 5px;
  font-size: 16px;
  padding: 6px;
}

#editButton:hover {
  background-color: #30363d;
  border-color: #8c949e;
  cursor: pointer;
}
