<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="components\niger\styles.css" />
  </head>
  <body>
    <div id="container">
      <div id="flag">
        <div class="stripe" id="red"></div>
        <div class="stripe" id="white">
          <div id="dot"></div>
        </div>
        <div class="stripe" id="green"></div>
      </div>
    </div>
  </body>
</html>
