html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  background-color: rgb(190, 190, 190);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flag {
  width: 600px;
  aspect-ratio: 7 / 6;
  display: grid;
}

#red {
  background-color: #e15307;
}

#white {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#green {
  background-color: #10af2a;
}

#dot {
  background-color: #e15307;
  height: 85%;
  aspect-ratio: 1;
  border-radius: 50%;
}
