<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="href"
      ="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,800;1,200&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="components\instaStories\styles.css" />
  </head>
  <body>
    <div id="container">
      <div id="storiesContainer">
        <div class="story new">
          <div class="imgWrapper">
            <img
              class="img"
              alt="'profilePic"
              src="components\instaStories\img\scott-webb-unsplash.jpg" />
          </div>
          <p>Julian</p>
        </div>
        <div class="story viewed live">
          <div class="imgWrapper">
            <img
              class="img"
              alt="'profilePic"
              src="components\instaStories\img\lidya-nada-unsplash.jpg" />
          </div>
          <p>Scrimdella</p>
        </div>
        <div class="story new">
          <div class="imgWrapper">
            <img
              class="img"
              alt="'profilePic"
              src="components\instaStories\img\bundo-kim-unsplash.jpg" />
          </div>
          <p>GummieBear</p>
        </div>
      </div>
    </div>
  </body>
</html>
