html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  background-color: rgb(31, 31, 31);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

#storiesContainer {
  display: flex;
}

.story {
  margin: 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  border-radius: 50%;
  width: 100px;
  border: 3px solid black;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
}

.new .imgWrapper {
  background: linear-gradient(45deg, #fdcf00, #fd4800, #630688);
}

.viewed .imgWrapper {
  background: lightgrey;
}

.live:after {
  content: "LIVE";
  color: white;
  background-color: red;
  width: 30px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -70px;
  border: 2px solid black;
}
